[mysqld]
# 禁止缓存主机名
skip-host-cache
# 禁用DNS查询
skip-name-resolve

# 注意：对于启动选项和系统变量来说，如果启动选项和系统变量名由多个单词组成，各个单词之间用短划线（-）或者下划线（_）连接起来都可以，但是它对应的系统变量的单词之间必须使用下划线（_）连接起来（即通过show查看或set设置时）
# 见官方文档 (https://dev.mysql.com/doc/refman/8.0/en/using-system-variables.html)
# 如果生产环境需要修改配置，建议采用 “临时设置方式 + 永久设置方式”来解决线上的问题，那么即便是有一天真的重启了MySQL服务，也会永久生效了。

# 密码认证 默认使用 “caching_sha2_password” 插件改为 “mysql_native_password”
default_authentication_plugin=mysql_native_password
# 默认存储引擎
default-storage-engine=INNODB
# 服务端使用的字符集默认为utf8mb4
character-set-server=utf8mb4
# 设置collation(排序规则),下面这个是服务器级别的设置方法,还有数据库,表级别的。
collation-server=utf8mb4_general_ci

# binlog日志位置
log_bin=/var/log/mysql/binlog
# binlog日志文件的保留天数，超过该天数的日志文件将被自动删除
expire_logs_days=30
# binlog日志格式类型：STATEMENT、ROW或MIXED，mysql默认采用statement，建议使用mixed
binlog_format= MIXED
# binlog每个日志文件大小
max_binlog_size=100m
# binlog缓存大小
binlog_cache_size=4m
# 最大binlog缓存大小
max_binlog_cache_size=512m

# 启用慢查询日志 on或者1
slow_query_log=1
# 慢查询日志文件的路径和名称
slow_query_log_file=/var/log/mysql/slow_query.log
# 慢查询的阈值，单位为秒
long_query_time=3
# 记录未使用索引的查询 on或者1，记录在慢日志中，启用这个参数会导致性能稍微下降，因为MySQL需要检查每个查询是否使用了索引
# log_queries_not_using_indexes=1
# 限制未使用索引的查询的记录频率 表示5分钟内，如果同一条查询没有使用索引发出日志记录的次数被限制为1次
# log_throttle_queries_not_using_indexes=5
# 记录慢速管理语句 on或者1，记录在慢日志中
# log_slow_admin_statements=1

# 错误日志
log-error=/var/log/mysql/error