# 忽略当前文件夹下所有文件上传 git
*

# 排除 .gitignore 文件
!.gitignore

# 排除 php7.2 文件
!php7.2
!php7.2/**

# 排除 php7.3 文件
!php7.3
!php7.3/**

# 排除 php7.4 文件
!php7.4
!php7.4/**

# 排除 php8.0 文件
!php8.0
!php8.0/**

# 排除 php8.1 文件
!php8.1
!php8.1/**

# 排除 php8.2 文件
!php8.2
!php8.2/**

# 排除 php8.3 文件
!php8.3
!php8.3/**

# 排除 php8.4 文件
!php8.4
!php8.4/**