# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# 注意：对于启动选项和系统变量来说，如果启动选项和系统变量名由多个单词组成，各个单词之间用短划线（-）或者下划线（_）连接起来都可以，但是它对应的系统变量的单词之间必须使用下划线（_）连接起来（即通过show查看或set设置时）
# 见官方文档 (https://dev.mysql.com/doc/refman/8.0/en/using-system-variables.html)
# 如果生产环境需要修改配置，建议采用 “临时设置方式 + 永久设置方式”来解决线上的问题，那么即便是有一天真的重启了MySQL服务，也会永久生效了。

# 默认使用“mysql_native_password”插件认证
default_authentication_plugin=mysql_native_password
# 默认存储引擎
default-storage-engine=INNODB
# 服务端使用的字符集默认为utf8mb4
character-set-server=utf8mb4
# 比较规则
collation-server=utf8mb4_general_ci

# Custom config should go here
!includedir /etc/mysql/conf.d/
